CMakeLists.txt.user
Examples/Monocular/mono_euroc
Examples/Monocular/mono_kitti
Examples/Monocular/mono_tum
Examples/RGB-D/rgbd_tum
Examples/ROS/ORB_SLAM2/CMakeLists.txt.user
Examples/ROS/ORB_SLAM2/Mono
Examples/ROS/ORB_SLAM2/MonoAR
Examples/ROS/ORB_SLAM2/RGBD
Examples/ROS/ORB_SLAM2/Stereo
Examples/ROS/ORB_SLAM2/build/
Examples/Stereo/stereo_euroc
Examples/Stereo/stereo_kitti
KeyFrameTrajectory.txt
Thirdparty/DBoW2/build/
Thirdparty/DBoW2/lib/
Thirdparty/g2o/build/
Thirdparty/g2o/config.h
Thirdparty/g2o/lib/
Vocabulary/ORBvoc.txt
Vocabulary/ORBvoc.bin
build/
*~
lib/

products/
/.vs/VSWorkspaceState.json
/.vs/config
/.vs/ORB_SLAM2
/.vs/ProjectSettings.json
/.vs/slnx.sqlite*
/install
orbslam.csv
/.vscode/settings.json
data.zip
/.vendor
/data/Garching_LoopClosure-5-images.zip
/data/Garching_LoopClosure-5-images
/data/Garching_LoopClosure-5-features.json
/data/Garching_LoopClosure-4.mp4
/data/Garching_LoopClosure-4-images
/data/Garching_LoopClosure-4-features.json
/data/Garching_LoopClosure-3.mp4
/data/Garching_LoopClosure-3-images
/data/Garching_LoopClosure-3-features.json
/data/Garching_LoopClosure-2.mp4
